type brcm_uim, domain;
type brcm_uim_exec, exec_type, file_type;

init_daemon_domain(brcm_uim)

define(`rw_dir_file', `
allow $1 $2:dir rw_dir_perms;
allow $1 $2:{ file lnk_file } rw_file_perms;
')

r_dir_file(brcm_uim, ta_data_file)
rw_dir_file(brcm_uim, bluetooth_data_file)
rw_dir_file(brcm_uim, brcm_ldisc_sysfs)
rw_dir_file(brcm_uim, sysfs)
rw_dir_file(brcm_uim, sysfs_bluetooth_writable)

set_prop(brcm_uim, exported_bluetooth_prop)
get_prop(brcm_uim, exported_bluetooth_prop)
set_prop(brcm_uim, bluetooth_prop)
get_prop(brcm_uim, bluetooth_prop)
allow brcm_uim hci_attach_dev:chr_file rw_file_perms;
allow brcm_uim property_socket:sock_file write;
allow brcm_uim init:unix_stream_socket connectto;
allow brcm_uim system_data_file:file r_file_perms;
allow brcm_uim self:capability net_admin;
