allow hal_power_default perfd:process signull;

# Touch
allow hal_power_default sysfs_securetouch:dir search;
allow hal_power_default sysfs_securetouch:lnk_file rw_file_perms;
allow hal_power_default sysfs_securetouch:file rw_file_perms;
