# qcamerasvr service
type qcamerasvr, domain;
type qcamerasvr_exec, exec_type, file_type;

# Started by init
init_daemon_domain(qcamerasvr)

allow qcamerasvr camera_prop:file { getattr open read };
allow qcamerasvr ion_device:chr_file { open read };
allow qcamerasvr secd_exec:file { getattr read };
allow qcamerasvr sysfs:file { open read };
allow qcamerasvr sysfs_graphics:file { open read };
allow qcamerasvr video_device:chr_file { ioctl open read write };
